@font-face {
  font-family: 'DINAlternate';
  src: url('~@/assets/font/DIN-Alternate-Bold.ttf');
}

@font-face {
  font-family: 'SFProRounded-Medium';
  src: url('~@/assets/font/SF-Pro-Rounded-Medium.ttf');
}

@font-face {
  font-family: 'SFProRounded-Black';
  src: url('~@/assets/font/SF-Pro-Rounded-Black.ttf');
}

@font-face {
  font-family: 'RoundedMplus1c-Black';
  src: url('~@/assets/font/RoundedMplus1c-Black.ttf');
}

@font-face {
  font-family: 'RoundedMplus1c-Medium';
  src: url('~@/assets/font/RoundedMplus1c-Medium.ttf');
}
